form {
  margin-top: 20px;
}
.collectionNameInput {
  border: none;
  outline: none;
  background-color: rgb(233, 233, 233);
  padding: 10px;
  border-radius: 10px;
  height: fit-content;
}

.imageUploadButton {
  border: none !important;
}

.collectionUploadButton {
  float: right;
  margin: 0px !important;
}

.uploadFile {
  margin: 0px 20px;
}

.imagePreviewBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}

.add-collection-form {
  margin-top: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.add-collection-form h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.collection-name-input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: rgb(233, 233, 233);
  outline: none;
  width: 100%;
}

.upload-file-btn {
  padding: 8px 20px;
  border-radius: 8px;
  text-transform: none;
  background-color: #1b4061;
  color: #fff;
  align-self: flex-start;
}

.preview-icon-btn {
  margin-top: 10px;
}

.image-preview-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}

.preview-image-container {
  position: relative;
}

.image-preview {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
}

.remove-image-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #000;
  background-color: #fff;
  border-radius: 50%;
  padding: 6px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.remove-image-btn:hover {
  background-color: #f5f5f5;
}

.submit-btn {
  background-color: #1b4061;
  color: white;
  margin-top: 20px;
  align-self: flex-end;
  text-transform: none;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.submit-btn:hover {
  background-color: #153e56;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .add-collection-form {
    padding: 15px;
  }

  .image-preview {
    max-width: 100px;
    max-height: 100px;
  }
}
